<section class="hero" style="">
    <div class="container">
        <br><br>
        <h1>Get to Know Joel</h1>
        <div style="background-color: var(--primary); margin-top: 8px; width: 100px; height: 8px; margin-bottom: 10px; transform: scale(1, 1); visibility: visible;" data-width="10px" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-small-border completed"></div>
        <div class="hero-buttons">
            <a href="https://www.qwcomedy.com/" target="_blank" class=" hero-buttons button button-primary">Joel's Comedy</a>
            <a href="https://baconsale.com/" target="_blank" class=" hero-buttons button button-primary">Joel's Bacen</a>
        </div>
    </div>
</section>

<section class="features sponsors" style="background-color: var(--light-gray);">
    <div class="container">
        <a href="https://baconsale.com/" target="_blank">
            <img src="/images/BaconsaleKate.jpg" width="300">
        </a>
        <div>Click the image to go to BaconSale</div>
    </div>
</section>