<!-- Hero Section -->
<section class="hero" style="">
    <div class="container">
        <br><br>
        <h1>The<br>Joel Hilton<br>Film Collection!</h1>
        <div style="background-color: var(--primary); margin-top: 8px; width: 100px; height: 8px; margin-bottom: 10px; transform: scale(1, 1); visibility: visible;" data-width="10px" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-small-border completed"></div>
        <p>Learn More about Joel or Enter a new Movie into the collection</p>
        <div class="hero-buttons">
            <a href="/Home/getToKnow" class=" hero-buttons button button-primary">About Joel</a>
            <a href="/Home/form" class="hero-buttons button button-outline">Enter a Movie</a>
        </div>
    </div>
</section>